html,
body {
  background-image: url("../public/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}
.lol {
  color: blue;
}
* {
  box-sizing: border-box;
}
.mintButton {
  background-color: black;
  color: aliceblue;
  border-radius: 60px;
  padding: 5px;
}

@font-face {
  font-family: "FontelloRegular";
  src: url("/fonts/Fontello-Regular.woff2") format("woff2");
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
